######################################################################
# PrimeLine
######################################################################
[gcode_macro PRIME_LINE]
description: Do a prime line
gcode:
    G1 Z10 F3000
    G1 X1.1 Y20 F5000.0             ; Move to start position
    G1 Z0.2 F240                    ; move nozzle and bed closer together
    G92 E0.0                        ; reset extruder
    G1 E5.0 F500                    ; pre-purge prime LENGTH SHOULD MATCH YOUR PRINT_END RETRACT
    G1 Y190 E15.0 F1500.0           ; intro line
    G1 X2.3 F5000                   ; move over a bit
    G1 Y10 E30 F1200.0              ; intro line
    G92 E0.0                        ; reset extruder
    G1 Z2.0 F3000                   ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y20 Z0.3 F5000.0          ; Move over to prevent blob squish